<li class="nav-item">
    <a class="nav-link" href="#">
        <div class="flex-row">
            <img src="/images/baseline_account_circle_black_48dp.png" width="40px" height="40px" alt="">
            <p>{{userName}}</p>
        </div>
    </a>
    <div class="info-dropdown">
        <p>{{pulse}}</p>
        <p>{{lat}}, {{lng}}</p>
        <p>{{bt}}</p>
    </div>
</li>